
.box{
    height:240px;
    width: 160px;
    background-color:#F13AB1 ;
    margin: 10px 10px 10px 10px;

}

.categoryimg {
    height:65%;
    width: 90%;
    margin:5% ;
    margin-bottom: 0;
}

.Dicount{
    font-size:20px ;
    font-weight: bold;
}

a {
    color : white;
    text-decoration: none;
}