.CategoryContainer{
    height:100% ;
    width: 100% ;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1% ;
    border: 0.3px solid grey;
    border-right: 0;
}

.filter{
    width: 20% ;
    
}

.shopsection{
   
    width: 80% ;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin-left: 10px;
    border-left: 0.3px solid grey;
}


