.category {
   
    width: 99%;
    margin:auto ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.AppstoreBanner img {
    width: 90vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}